<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="9.0.0" targetFramework="net48" />
  <package id="AutoMapper.Collection" version="6.0.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net48" />
</packages>